#!/bin/sh -e
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

# Print the IP address
_IP=$(hostname -I) || true
if [ "$_IP" ]; then
  printf "My IP address is %s\n" "$_IP"
fi

# Set BLE adapter to LE-only, non-bondable, connectable, discoverable
/usr/bin/btmgmt -i hci0 power off
/usr/bin/btmgmt -i hci0 le on
/usr/bin/btmgmt -i hci0 bredr off
/usr/bin/btmgmt -i hci0 bondable off
/usr/bin/btmgmt -i hci0 connectable on
/usr/bin/btmgmt -i hci0 power on

# Use bluetoothctl to enable discoverable + advertising mode
/usr/bin/timeout 5 /usr/bin/bluetoothctl <<EOF
power on
agent NoInputNoOutput
default-agent
pairable off
discoverable on
advertise yes
EOF

cd ~/code/SquawkersMccaw && /bin/bash run.sh &

exit 0


