# This service assigns a static IP based on the network prefix
# should be stored in /etc/systemd/system/birdpi-static-ip.service
[Unit]
Description=BirdPi Static IP Assigner
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

# Runs the static IP script
ExecStart=/usr/local/bin/birdpi-assign-static-ip.sh

RemainAfterExit=true

# Ensure it runs at boot
[Install]
WantedBy=multi-user.target
