[Unit]
Description=BirdPi Wi-Fi Setup and Fallback AP Mode
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/birdpi-wifi-or-ap.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
