[Unit]
Description=BirdPi AP fallback
After=network.target

[Service]
ExecStartPre=/sbin/ifconfig wlan0 192.168.4.1 netmask 255.255.255.0
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd.conf
ExecStartPost=/usr/sbin/dnsmasq -C /etc/dnsmasq.conf
ExecStartPost=/usr/sbin/service lighttpd restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
